body {
  background-color: rgb(86, 86, 87);
  color: azure;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container2 {
  width: 95%;
  margin: auto;
}

.container3 {
  width: 80%;
  margin: auto;
  background-color: #29000096;
  /* height: 1000px; */
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

.container4 {
  width: 80%;
  margin: auto;
  color: #1af1d4;
}

.container5 {
  width: 90%;
  margin: auto;
}

#button2 {
  opacity: 1;
  font-size: 1.5rem;
}

button:hover {
  opacity: 0.8;
}

#button3 {
  font-size: 1.5rem;
  margin: 0.9rem;
  color: rgb(255, 0, 128);
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 0, 128);
  border-width: 0.18rem;
}

#button1 {
  font-size: 1.5rem;
  margin: 0.9;
  color: rgb(255, 0, 128);
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 0, 128);
  border-width: 0.18rem;
}

.more-info button {
  font-size: 1.5rem;
  margin: 0.9rem;
  color: rgb(255, 0, 255);
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 0, 255);
  border-width: 0.18rem;
}

.more-info-button {
  background-color: #820286;
  color: #00ffea;
  border-color: rgb(20, 19, 19);
  font-size: 20px;
  border-width: 4px;
}

.rcorners1 {
  border-radius: 1.5rem;
  background: #ff7b00;
  padding: 1.25rem;
  width: fit-content;
  display: flex;
  align-items: center;
}

.rcorners2 {
  border-radius: 1.5rem;
  background: #ae00ff;
  padding: 1.25rem;
  margin: 1rem;
  width: fit-content;
}

.rcorners3 {
  border-radius: 1.5rem;
  background: #ff8800;
  padding: 1.25rem;
  margin: 1rem;
  width: fit-content;
}
.rcorners4 {
  border-radius: 1.5rem;
  background: #4400ff;
  padding: 1.25rem;
  margin: 1rem;
  width: fit-content;
}

.rcorners5 {
  border-radius: 1.5rem;
  background: #609609b0;
  padding: 1.25rem;
  margin: 1rem;
  width: fit-content;
}

.rcorners6 {
  border-radius: 1.5rem;
  background: #960726b0;
  padding: 1.25rem;
  margin: 1rem;
  width: fit-content;
}

.rcorners7 {
  border-radius: 1.5rem;
  background: #76b4c5e5;
  padding: 1.25rem;
  margin: 1rem;
  width: fit-content;
}

.rcorners8 {
  border-radius: 1.5rem;
  background: #dd007ae5;
  padding: 1.25rem;
  margin: 1rem;
  width: fit-content;
}

header {
  width: 100%;
}

.icon img {
  width: 100px;
  margin: 0.62rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet;*/
  flex-grow: 1;
}

#div1 {
  background-color: rgb(67, 67, 71);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  width: 0.5%;
}

.logo-link {
  all: unset;
  color: rgb(238, 235, 68);
  margin: 0.3rem;
  font-size: 3.75rem;
  text-shadow: 0px 0px 3.1rem red;
}

.header-buttom {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  /*background-color: aliceblue;*/
}

.header-buttom img {
  width: 4rem;
}

.more-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.back-img {
  background-image: url(img/background.jpg);
  width: 100%;
  height: 550px;
  background-size: cover;
  margin-top: 6.875rem;
  padding: 2rem 0rem 2rem 2rem;
  color: rgb(0, 0, 0);
}

.Main-Content-t1 {
  background-color: rgba(109, 0, 0, 0.836);
  width: 100%;
  /* height: 315px; */
  font-size: 1.56rem;
  display: flex;
}

.Main-Content-t2 {
  background-color: rgba(20, 16, 16, 0.863);
  width: 98%;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  margin: 0.25rem;
}

.sus {
  width: 90%;
  margin: 0.5rem;
}

.flex-direction {
  margin-right: 1rem;
  display: flex;
}

.fortnite {
  width: 97.5%;
  padding: 0.4rem;
  padding-left: 0%;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.league {
  width: 97.5%;
  margin: 0.5rem;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
}

.Genshin {
  width: 97.5%;
  padding: 0.4rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.apex {
  width: 97.5%;
  padding: 0.4rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.rainbow {
  width: 97.5%;
  padding: 0.4rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.Destiny {
  width: 97.5%;
  padding: 0.4rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
}

.content1 {
  overflow: hidden;
  margin: 0.3125rem;
}
.text-margins {
  margin: 0.3125rem;
  font-size: 1.4375rem;
}
.text-margins p {
  min-height: fit-content;
}

.body-info {
  background-image: url(img/more\ info\ back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.info-text-color {
  font-size: 2rem;
  color: rgb(0, 183, 255);
  padding: 1rem;
}

.info-text-color2 {
  font-size: 2rem;
  color: rgb(0, 183, 255);
  margin-top: 0px;
  padding: 1rem;
}

.div-info-p1 {
  width: 25%;
  margin-top: 0rem;
  margin-right: 2rem;
}

.div-info-p2 {
  width: 30%;
  margin-top: 2rem;
}

.flex-for-about {
  display: flex;
  justify-content: space-between;
  margin-top: 6.375rem;
  padding: 1rem;
}
.about-page-img {
  width: 80%;
}

.Footer {
  background-color: rgb(67, 67, 71);
  margin-top: 1rem;
}

.container6 {
  width: 80%;
  margin: auto;
}

.footer-flex {
  display: flex;
}

.Footer-object1 {
  border-radius: 0.625rem;
  width: 24%;
  margin: 1rem;
  background-color: rgb(86, 86, 87);
  padding: 0.625rem;
}

.Footer-object2 {
  border-radius: 0.625rem;
  width: 24%;
  margin: 1rem;
  background-color: rgb(86, 86, 87);
  display: flex;
  flex-direction: column;
}

.Footer-object3 {
  display: flex;
  flex-direction: column;
}

.Footer-object4 {
  border-radius: 0.625rem;
  width: 98%;
  margin: 1rem;
  margin-top: 0rem;
  background-color: rgb(86, 86, 87);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.Footer-object1-img {
  width: 35%;
  padding: 0.375;
  padding-left: 1rem;
  margin: auto;
}
.Footer-object2-text {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.Footer-object3-text {
  font-size: 1.5rem;
  color: gold;
}

.Footer-object1-text {
  font-size: 1.25rem;
  padding: 0.5rem;
}

.footer-flex-direction {
  display: flex;
  flex-direction: column;
}

#footer-button-support {
  font-size: 1.25rem;
  background-color: #000000;
  color: #e407e4;
  border-color: #e407e4;
  border-width: 0.25rem;
}

.last-part {
  text-align: center;
  font-size: small;
  opacity: 0.7;
}

.row1 {
  max-height: 1200px;
}

.footer-flex-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  color: #ff008c;
  font-size: 1.5rem;
}

@media only screen and (max-width: 1080px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .logo-link {
    font-size: 1.8rem;
  }
  .icon img {
    width: 3.2rem;
  }
  .flex-direction {
    display: flex;
    flex-direction: column;
  }
  .sus {
    margin: 1.5rem;
  }
  .back-img {
    background-image: url(img/background2.jpg);
    width: 100%;
    background-size: cover;
    margin-top: 4.4rem;
    padding: 2rem 0rem 2rem 4rem;
    color: rgb(0, 0, 0);
  }

  .rcorners1 {
    background-color: #9e1e1e;
  }

  .more-info-button {
    background-color: #1f1f29;
    color: #db0037;
    border-color: rgb(20, 19, 19);
    font-size: 18;
    border-width: 4px;
  }
  .Footer-object1 {
    background-color: rgb(5, 45, 133);
  }

  .Footer-object2 {
    background-color: rgb(5, 45, 133);
  }

  .Footer-object4 {
    background-color: #5c0050d5;
  }
  .Footer {
    background-color: rgb(20, 0, 66);
  }
  .footer-flex {
    display: flex;
    flex-direction: column;
  }
  [class*="Footer-object"] {
    width: 100%;
  }
  .Footer-object1-img {
    width: 12rem;
    margin: auto;
  }
  .text-margins {
    margin: 0.2rem;
    font-size: 1.4375rem;
  }
  .text-margins p {
    padding: 0.3rem;
  }
  .flex-for-about {
    display: flex;
    flex-direction: column;
  }
  [class*="div-info-p"] {
    width: 100%;
  }
  .about-page-img {
    width: 100%;
  }
  .body-info {
    background-image: url(img/background\ for\ about\ 2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .info-text-color {
    background: linear-gradient(
      90deg,
      #ff0000,
      #ffff00,
      #ff00f3,
      #0033ff,
      #ff00c4,
      #ff0000
    );
    background-size: 600%;
    font-size: 2rem;
    font-family: sans-serif;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
  }

  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  .info-text-color2 {
    background: linear-gradient(
      90deg,
      #ff0000,
      #ffff00,
      #ff00f3,
      #0033ff,
      #ff00c4,
      #ff0000
    );
    background-size: 600%;
    font-size: 2rem;
    font-family: sans-serif;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite;
  }

  #back-color5 {
    background: linear-gradient(
      90deg,
      #ff0000,
      #51e9fd,
      #0099ff,
      #002fff,
      #a200ff,
      #ff00ea,
      #ff0062,
      #9c0000,
      #ff0000
    );
    background-size: 600%;
    animation: animate 30s linear infinite;
  }
  #button1 {
    font-size: 1.2rem;
    margin: 0rem;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }
  #button2 {
    font-size: 1.2rem;
    margin: 0rem;
    margin-left: 0.2rem;
  }
  .more-info button {
    font-size: 1.2rem;
    margin: 0rem;
    margin-right: 0.4rem;
    margin-left: 0.15rem;
  }
  .container {
    width: 85%;
    margin-left: 7%;
    margin-right: 8%;
    display: flex;
    justify-content: center;
  }
  .container6 {
    width: 85%;
    margin-right: 11%;
    margin-left: 4;
  }
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
